/* .nav {
  display: block;
  height: 100%;
  background-color: black;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #5ab2ff;
  color: black;
}

a.active {
  background-color: #5ab2ff;
  color: black;
}
